<tr>
    <td>1</td>
    <td>UserName</td>
    <td>example@gmail.com</td>
    <td>Female</td>
    <td>Active</td>
    <td>
        <a href='/update-user'class="btn border-shadow update">
           <span class="text-gradient"><i class="fa-solid fa-pencil"></i></span> 
        </a>
        <a class="btn border-shadow update">
            <span class="text-gradient"><i class="fa-solid fa-trash-can"></i></span>
         </a> 
    
    </td>
</tr>